numpy
scipy
POT>=0.9.6,<0.10
opencv-python
matplotlib
pillow
pyyaml
zarr
numcodecs
imagecodecs
torch
diffusers>=0.30,<0.31
transformers
hydra-core
omegaconf
tqdm
av
typed-argument-parser
einops
rich
h5py
kornia
sophuspy
rerun-sdk~=0.21
imageio[ffmpeg]
trimesh
huggingface_hub
pytest
python-box[all]~=7.0
timm
